<form action="" [formGroup]="createForm" class="w-full flex flex-col gap-y-8">
  <div class="w-full flex flex-col sm:grid sm:grid-cols-2 sm:gap-x-8 gap-y-4">
    <div class="flex flex-col w-full gap-y-1">
      <label for="title" class="text-xs font-light">Title</label>
      <input
        type="text"
        name="title"
        id="title"
        placeholder="Enter title"
        formControlName="title"
        [ngClass]="{
          ' focus:outline-none border-red-500 focus:ring-red-500 focus:border-none focus:ring-1':
            title?.invalid && title?.touched
        }"
        class="w-full px-2 py-1.5 border border-[1px] rounded-md placeholder:text-sm focus:outline-pink-300 focus:outline-1"
      />
      <div
        *ngIf="title!.invalid && (title!.dirty || title!.touched)"
        class="text-red-500 text-xs mt-1"
      >
        <div *ngIf="title!.hasError('required')">Title is required.</div>
      </div>
    </div>
    <div class="flex flex-col w-full gap-y-1">
      <label for="description" class="text-xs font-light">Description</label>
      <input
        type="text"
        name="description"
        id="description"
        placeholder="Enter description"
        formControlName="description"
        [ngClass]="{
          ' focus:outline-none border-red-500 focus:ring-red-500 focus:border-none focus:ring-1':
            description!.invalid && description!.touched
        }"
        class="w-full px-2 py-1.5 border border-[1px] rounded-md placeholder:text-sm focus:outline-pink-300 focus:outline-1"
      />
      <div
        *ngIf="
          description!.invalid && (description!.dirty || description!.touched)
        "
        class="text-red-500 text-xs mt-1"
      >
        <div *ngIf="description!.hasError('required')">
          Description is required.
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full gap-y-1">
      <label for="category" class="text-xs font-light">Category</label>
      <input
        type="text"
        name="category"
        id="category"
        placeholder="Enter category"
        formControlName="category"
        [ngClass]="{
          ' focus:outline-none border-red-500 focus:ring-red-500 focus:border-none focus:ring-1':
            category!.invalid && category!.touched
        }"
        class="w-full px-2 py-1.5 border border-[1px] rounded-md placeholder:text-sm focus:outline-pink-300 focus:outline-1"
      />
      <div
        *ngIf="category!.invalid && (category!.dirty || category!.touched)"
        class="text-red-500 text-xs mt-1"
      >
        <div *ngIf="category!.hasError('required')">Category is required.</div>
      </div>
    </div>
    <div class="flex flex-col w-full gap-y-1">
      <label for="dueDate" class="text-xs font-light">Due Date</label>
      <input
        type="date"
        name="dueDate"
        id="dueDate"
        placeholder="Choose due date"
        formControlName="dueDate"
        [ngClass]="{
          ' focus:outline-none border-red-500 focus:ring-red-500 focus:border-none focus:ring-1':
            dueDate!.invalid && dueDate!.touched
        }"
        class="w-full px-2 py-1.5 border border-[1px] rounded-md placeholder:text-sm focus:outline-pink-300 focus:outline-1"
      />
      <div
        *ngIf="dueDate!.invalid && (dueDate!.dirty || dueDate!.touched)"
        class="text-red-500 text-xs mt-1"
      >
        <div *ngIf="dueDate!.hasError('required')">Approximate Due Date is required.</div>
      </div>
    </div>
    <div class="flex flex-col w-full gap-y-1">
      <label for="priority" class="text-xs font-light">Priority</label>
      <select
        type="text"
        name="priority"
        id="priority"
        formControlName="priority"
        [ngClass]="{
          ' focus:outline-none border-red-500 focus:ring-red-500 focus:border-none focus:ring-1':
            priority!.invalid && priority!.touched
        }"
        class="w-full px-2 py-1.5 border border-[1px] rounded-md focus:outline-pink-300 focus:outline-1"
      >
        <option selected value="High">High</option>
        <option value="Medium">Medium</option>
        <option value="Low">Low</option>
      </select>
      <div
        *ngIf="priority!.invalid && (priority!.dirty || priority!.touched)"
        class="text-red-500 text-xs mt-1"
      >
        <div *ngIf="priority!.hasError('required')">Priority is required.</div>
      </div>
    </div>
  </div>
  <button
  [disabled]="createForm.invalid"
    class="self-center disabled:opacity-25 disabled:bg-purple-800 disabled:hover:bg-purple-800 disabled:cursor-not-allowed hover:opacity-50 transition-opacity ease-in-out duration-600 sm:self-start px-3 py-1.5 bg-purple-800 opacity-25 rounded-md text-white w-32"
    (click)="onSubmit()"
  >
    Add Note
  </button>
</form>
